// color setting
$black_color: #1c1c1c;
$white_color: #ffffff;
$blue_color: #005ac6;
$bright_blue: #0481d4;

/* Fonts */
$primary-font: "Poppins_Light", sans-serif;
$primary_font_medium: "Poppins_Medium", sans-serif;
$headline-font: "IvyJournal_SemiBold", serif;
